# 한국투자증권 실전투자 환경 변수 템플릿
KIS_APP_KEY=your_live_app_key
KIS_APP_SECRET=your_live_app_secret
KIS_ACCOUNT_NO=12345678
KIS_PRODUCT_CODE=01
KIS_BASE_URL=https://openapi.koreainvestment.com:9443
KIS_IS_PAPER=false
